  <footer class="py-4 bg-white-off place-content-center" style="background: url('/images/idra-gradient.png'); background-size: cover;">
    <div class="m-auto max-w-5xl sm:flex gap-px px-4">
      <div class="flex-none">
        <a href="/" class="transition-all">
          <img class="" src="/logos/idra-logo-simple.svg" />
          <p class="sm text-white opacity-50">Legal 2022. International Drought Resilience Alliance. All rights reserved.
        </a>
      </div>
    </div>
  </footer>

  </body>
</html>
