<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ $styles := resources.Get "css/styles.scss" | toCSS | postCSS (dict "config" "./assets/css/postcss.config.js") }}
    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ else }}
      {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
      <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}">
    {{ end }}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- Primary Meta Tags -->
    <title>
      {{ if .Title }}
        {{ .Title }} |
      {{ end }}
      {{ .Site.Title }}</title>

    {{ $metaDescription := .Site.Params.metaDescription }}
    {{ if .Params.metaDescription }}
      {{ $metaDescription = .Params.metaDescription }}
    {{ end }}

    {{ $metaImage := .Site.Params.metaImage }}
    {{ if .Params.metaImage }}
      {{ $metaImage = .Params.metaImage }}
    {{ end }}

    <meta name="title" content="{{ .Title }}">
    <meta name="description" content="{{ $metaDescription }}">
    <meta name="keywords" content="emergency response, drought resilience, drought preparedness, drought management, coordinated response, COP 27, climate conference, Sharm el-Sheikh, drought management, climate change, Spain, Senegal, United Nations Convention to Combat Desertification">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="Catch the latest news from the IDRA, the global alliance for drought resilience and preparedness">
    <meta property="og:image" content="{{ $metaImage }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{ .Title }}">
    <meta property="twitter:description" content="Catch the latest news from the IDRA, the global alliance for drought resilience and preparedness">
    <meta property="twitter:image" content="/images/og-image-twitter.png">

    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CYPGETFZPC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-CYPGETFZPC');
    </script>

  </head>
  <body class="flex flex-col min-h-screen bg-white">
  {{- partial "nav.html" . -}}
